#atualizadoem {
	color: #666;
}



/*========== calendario/header ===========*/

#titulo {
	font-size: 1.5em;
	max-height: 2em;
	margin-top: -1em;
	text-align: center;
	color: #000;
}


.calendar-container header {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7ddf9+0,a7ddf9+72,386599+77,386599+80,f2ec85+84,f2ec85+87,cc6666+90,cc6666+94,a7ddf9+97 */
background: #a7ddf9; /* Old browsers */
background: -moz-linear-gradient(left,  #a7ddf9 0%, #a7ddf9 72%, #386599 77%, #386599 80%, #f2ec85 84%, #f2ec85 87%, #cc6666 90%, #cc6666 94%, #a7ddf9 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a7ddf9), color-stop(72%,#a7ddf9), color-stop(77%,#386599), color-stop(80%,#386599), color-stop(84%,#f2ec85), color-stop(87%,#f2ec85), color-stop(90%,#cc6666), color-stop(94%,#cc6666), color-stop(97%,#a7ddf9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #a7ddf9 0%,#a7ddf9 72%,#386599 77%,#386599 80%,#f2ec85 84%,#f2ec85 87%,#cc6666 90%,#cc6666 94%,#a7ddf9 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #a7ddf9 0%,#a7ddf9 72%,#386599 77%,#386599 80%,#f2ec85 84%,#f2ec85 87%,#cc6666 90%,#cc6666 94%,#a7ddf9 97%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #a7ddf9 0%,#a7ddf9 72%,#386599 77%,#386599 80%,#f2ec85 84%,#f2ec85 87%,#cc6666 90%,#cc6666 94%,#a7ddf9 97%); /* IE10+ */
background: linear-gradient(to right,  #a7ddf9 0%,#a7ddf9 72%,#386599 77%,#386599 80%,#f2ec85 84%,#f2ec85 87%,#cc6666 90%,#cc6666 94%,#a7ddf9 97%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7ddf9', endColorstr='#a7ddf9',GradientType=1 ); /* IE6-9 */



	border-radius: 1em 1em 0 0;
	padding: 3em 2em;
	margin-top: 2em;
	min-height: 12em;
	max-width: 100%;
	width: 100%;

}

.day {
	font-size: 8em;

	font-weight: 900;
	line-height: 1em;
	text-align: center;
	color: #e66b6b;
}

.month {
	font-size: 4em;
	line-height: 1em;
	text-transform: lowercase;
	text-align: center;
	color: #000;
}

/*========== calendario/tabela ===========*/
.passou,
.passou:hover {
	color: #fff;
	background-color: #ccc!important;
}

.today {
	
	color: #fff;
	background-color: #e66b6b!important;
}

.selecionado {
	color: #fff;
	background-color: #386599;
}

.calendar {
	background: #fff;
	border-radius: 0 0 1em 1em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	color: #555;
	display: inline-block;
	padding: 2em;
	width: 50.9em;
}

.calendar thead {
	color: #e66b6b;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.calendar td {
	padding: .5em 1em;
	text-align: center;
}

.calendar tbody td:hover {
	background: #F2EC85;
	color: #fff;
}

.current-day {
	color: #e66b6b;
}

.prev-month,
.next-month {
	color: #cacaca;
	visibility: hidden;
}

.ring-left,
.ring-right {
	position: absolute;
	top: 230px;
}

.ring-left { left: 2em; }
.ring-right { right: 2em; }

.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	content: "";
	display: inline-block;
	margin: 8px;
	height: 32px;
	width: 8px;
}

#hoje {
	color: #222;
	position: absolute;
	right: 18em;
	bottom: 7em;
	width: 40%;
	border-left: 1px solid #ccc;
	
}

#hoje h3 {
	font-family: 'Lato';
	margin-left: 1em;
	font-size: 2em;
	font-weight: 700;
	color: #e66b6b;
}

#hoje table {
	width: 100%;
	min-height: 12em;
	margin-left: 2em;
	border: 3px solid rgba(230, 107, 107, .2);

}

#hoje table td:nth-child(odd) {
	background-color:  rgba(230, 107, 107, 1) ;
	text-align: center;
	width: 25%;
	font-weight: 700;
	color: #fff;
}

#hoje table td:nth-child(even) {
	 	text-align: left;
	 	padding-left: 1em;
	 	background-color:  rgba(230, 107, 107, .2) ;
	 	border-bottom: 1px dotted #ccc;
	 }

.sematividade {
	font-size: 1em;

}

#calendario {
	width: 100%;
}


/*===celulares===*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px)  {
	

	 #atualizadoem {
	 	font-size: 1em;
	 	margin-bottom: 2em;
	 	margin-top: 1em;

	 }

	
 	.day {
 		padding-top: .4em;
 	}

	 #day {
	 	/*font-size: 1.1em;
	 	left: 2em;
	 	text-align: left;*/

	 	
	 	
	 }


	 #hoje {

	 	position: absolute;
	 	top: 22em;
	 	padding-left: 1.5em;
	 	background: #fff;
	 	
	 	

	 }

	 #hoje h3 {
	 	font-size: 2.5em;
	 	margin-left:.75em;
	 	margin-bottom: 1em;
	 	min-width: 7em;

	 }

	 #hoje table {
	 	
	 	line-height: 1.5em;
	 	width: 20.5em;
	 }

	 #hoje table td {
	 	height: 2.2em;

	 }

	 #hoje table td:nth-child(odd) {
	 	width: 35%;
	 }


	 #hoje table td:nth-child(even) {
	 	text-align: right;
	 	padding-right: 1em;


	 }



	 #calendario{
	 	
	 	position: absolute;
	 	margin-top: 2em;
	 	top: 23em;
	 	display: inline;
	 	height: 21em;
	 }

	 #calendario::before {
	 	content: "Selecione uma data < - >";
	 	position: relative;
	 	left: 50%;
	 	
	 }

	 #atualizadoem {
	 	position: absolute;
	 	margin-top: 1em;
	 	top: 69em;
	 }





};